[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# 回線が遅くて入らないので一旦コメントアウト
#torch = "*"
#numpy = "*"
onnxoptimizer = "*"

[dev-packages]
pipenv = "*"
wheel = "*"

[requires]
python_version = "3.9"
